@model MVC8.Models.Product
<h1>@Model.Title</h1>

<div><strong>Price:</strong> @Model.Price</div>
<div><strong>Description:</strong> @Model.Description</div>
<div style="float:right">
    @Model.Image
</div>