@model IEnumerable<MVC8.Models.NavigationItem>
<div style="width:200px">
    <h3>Menu</h3>
    <ul style="list-style:none;list-style-position:inside">
        @foreach (var item in Model)
        {
            <li>
                <a href="@item.Url">@item.NavigationTitle</a>
            </li>
        }
    </ul>
</div>